:root {
  --vk-bg: #555;
	--vk-x-padding: 6px;
	--vk-y-padding: 6px;
	--vbtn-radius: 6px;
	--vbtn-bg: #fff;
	--vbtn-color: #000;
	--vbtn-bg-active: #33339b;
	--vbtn-color-active: var(--vbtn-bg);
	--vbtn-x-padding: 12px;
	--vbtn-y-padding: 12px;
	--vbtn-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.vk-vkeyboard-wrap {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		border: 0;
	}

	*:before,
	*:after {
		box-sizing: inherit;
	}
}

.vk-vkeyboard-wrap {
  &.is-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.vk-vkeyboard {
  display: flex;
  flex-flow: nowrap row;
  padding: var(--vk-y-padding) var(--vk-x-padding);
  background: var(--vk-bg);

  &__action {
    flex: 1;
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }

    &[data-which="spacebar"] {
      flex: 4 0 auto;
    }

    &[data-size="2"] {
      flex: 2 0 auto;
    }

    &[data-size="3"] {
      flex: 3 0 auto;
    }

    &[data-size="4"] {
      flex: 4 0 auto;
    }
  }
}

.vk-vkey-btn {
  padding: var(--vbtn-y-padding) var(--vbtn-x-padding);
  display: block;
  width: 100%;
  background: var(--vbtn-bg);
	color: var(--vbtn-color);
  border-radius: var(--vbtn-radius);
  box-shadow: var(--vbtn-shadow);

  &.is-active {
    background: var(--vbtn-bg-active);
    color: var(--vbtn-bg);
  }
}
