// SELECTBOXES

// CSS VARIABLES
// Select uses forms variables

.#{$ns}select {
  select {
    width: 100%;
    font-size: .75rem;
    background: $white;
    background: var(--bg);
    border: 1px solid $grey-l1;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 12px;

    &:focus:not(label), &:active:not(label) {
      outline: 0;
      border-color: $brand-primary;
      border-color: var(--border-active);
    }
  }
}
